<div class="card-section">
    <h2>{{name}}</h2>
    <div class="card-content">
        <ul>
            <li>
                <p>Capital: </p>{{capital}}
            </li>
            <li>
                <p>Population: </p>{{population}}
            </li>
            <li>
                <p>Languages: </p>
            </li>
        </ul>
        <img src="{{flag}}" alt="">
    </div>
</div>