
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding-top: 30px;
  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
  text-align: center;
}
.section-form {
  text-align: left;
  width: max-content;
  margin: auto;
}
.input-text {
  padding: 5px 15px;
  font-size: 30px;
  font-weight: 600;
}
.result-box {
  box-sizing: border-box;
  text-align: left;
  width: 636px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.card-section {
  text-align: center;
  padding: 20px;
  h2 {
    padding: 0;
    margin: 0;
  }
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-weight: 600;
  }
  img {
    width: 200px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
